<template>
  <v-chart class="chart" :option="bar" :style="myStyle"/>
</template>

<script>
import { use } from 'echarts/core';
import { CanvasRenderer } from 'echarts/renderers';
import { BarChart } from 'echarts/charts';
import {
  TitleComponent,
  TooltipComponent,
  GridComponent,
  LegendComponent,
} from 'echarts/components';
import VChart, { THEME_KEY } from 'vue-echarts';
import { ref, defineComponent } from 'vue';

use([
  CanvasRenderer,
  BarChart,
  TitleComponent,
  TooltipComponent,
  LegendComponent,
  GridComponent
]);

export default defineComponent({
  name: 'BarEChart',
  components: {
    VChart,
  },
  props: {
    name: {
      type: String,
      required: true
    },
    barData: {
      type: Object,
      required: true
    }
  },
  computed: {
    bar() {
      var labelledBarData = this.barData.reduce(function(map, obj) {
        map.push({
          value: Math.round((obj[1] + Number.EPSILON) * 100) / 100,
          label: Math.round((obj[1] + Number.EPSILON) * 100) / 100 + " %",
          itemStyle: {
            color: obj[2]
          }
        })
        return map
      }, []);
      return {
        title: {
          text: this.name,
          left: 'center'
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'shadow'
          },
          formatter: '{a} <br/>{b} : {c}%',
        },
        grid: {
          top: 30,
          bottom: 20,
          left: 10,
          containLabel: true
        },
        xAxis: {
          type: 'value',
          position: 'top',
          splitLine: {
            lineStyle: {
              type: 'dashed'
            }
          }
        },
        yAxis: {
          type: 'category',
          axisLine: { show: false },
          axisLabel: { show: true },
          axisTick: { show: false },
          splitLine: { show: false },
          data: this.barData.map((a => a[0]))
        },
        series: [
          {
            name: this.name,
            type: 'bar',
            stack: 'Total',
            data: labelledBarData
          }
        ]
      }
    },
    myStyle() {
      // using number of data points for height
      var height = this.barData.length
      // using at longest group path for width
      var width = this.barData.reduce(function(map, obj) {
        map = Math.max(map, obj[0].length)
        return map
      }, 0);
      return "height: " + height * 30 + "px; width: " + width * 13 + "px"
    }
  }
});
</script>