<template>
  <v-chart class="chart" :option="line" style="height: 250px"/>
</template>

<script>
import { use } from 'echarts/core';
import { CanvasRenderer } from 'echarts/renderers';
import { LineChart } from 'echarts/charts';
import {
  TitleComponent,
  TooltipComponent,
  GridComponent,
  LegendComponent
} from 'echarts/components';
import { UniversalTransition } from 'echarts/features';
import VChart, { THEME_KEY } from 'vue-echarts';
import { ref, defineComponent } from 'vue';

use([
  CanvasRenderer,
  LineChart,
  TitleComponent,
  TooltipComponent,
  LegendComponent,
  GridComponent,
  UniversalTransition
]);

export default defineComponent({
  name: 'LineEChart',
  components: {
    VChart,
  },
  props: {
    name: {
      type: String,
      required: true
    },
    lineData: {
      type: Object,
      required: true
    },
    criteria: {
      type: Object,
      required: true
    }
  },
  computed: {
    line() {
      var legend = this.lineData.series.reduce(function(map, obj) {
        map.push(obj.name)
        return map
      }, []);
      return {
        title: {
          text: this.name,
          left: 'left'
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'shadow'
          }
        },
        legend: {
          data: legend
        },
        grid: {
          top: 50,
          bottom: 30,
          left: 10,
          containLabel: true
        },
        xAxis: {
          type: 'category',
          data: this.lineData.dates
        },
        yAxis: {
          type: 'value',
        },
        series: this.lineData.series
      }
    }
  }
});
</script>