<template>
  <v-chart class="chart" :option="pie" style="height: 150px"/>
</template>

<script>
import { use } from 'echarts/core';
import { CanvasRenderer } from 'echarts/renderers';
import { PieChart } from 'echarts/charts';
import {
  TitleComponent,
  TooltipComponent,
  LegendComponent,
} from 'echarts/components';
import VChart, { THEME_KEY } from 'vue-echarts';
import { ref, defineComponent } from 'vue';

use([
  CanvasRenderer,
  PieChart,
  TitleComponent,
  TooltipComponent,
  LegendComponent,
]);

export default defineComponent({
  name: 'PieEChart',
  components: {
    VChart,
  },
  props: {
    name: {
      type: String,
      required: true
    },
    pieData: {
      type: Object,
      required: true
    }
  },
  computed: {
    pie() {
      return {
        title: {
          text: this.name,
          left: 'center',
        },
        grid: {
          top: 70,
          bottom: 10,
        },
        tooltip: {
          trigger: 'item',
          formatter: '{a} <br/>{b} : {c} ({d}%)',
        },
        series: [
          {
            name: this.name,
            type: 'pie',
            radius: '60%',
            center: ['50%', '50%'],
            data: this.pieData,
            label: {
              show: false,
              formatter: '{b}'
            },
            emphasis: {
              itemStyle: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)',
              },
            },
          },
        ],
      }
    }
  },
});
</script>

</style>
